#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.gradient-text {
    background: linear-gradient(90deg, #ff7e5f, #feb47b); /* Define your gradient colors */
    -webkit-background-clip: text; /* Clip background to text */
    -webkit-text-fill-color: transparent;
}

.path-input {
    padding: 2em;
}

.path-display {
    color: #888;
}

input {
    height: 42px;
    width: 600px;
    border-radius: 7px;
    outline: none;
    border: none;
    padding-left: 10px;
}

.browse-button {
    margin-left: 20px;
    
    transition: scale 0.25s ease-out, outline 0.25s ease-out;
}

.browse-button:hover {
    outline: var(--main-primary);
    scale: 1.1;
}

.continue-button {
    background-image: linear-gradient(to top right, var(--main-primary), var(--main-secondary));
}

.cancel-button {
    background-color: var(--background-secondary);
}

.continue-button, .cancel-button {
    width: 200px;
    margin-top: 50px;

    transition: scale 0.25s ease-out;
}

.continue-button:hover, .cancel-button:hover {
    scale: 1.1;
}

.button-options {
    justify-content: space-between;
    display: flex;
    padding-left: 200px;
    padding-right: 200px;
}

.button-option p {
    opacity: 0;

    transition: opacity 0.25s ease-out, transform 0.25s ease-out;
}

.button-option:hover p {
    opacity: 1;
    transform: translateY(-5%);
}

.progress-bar-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
}

.progress-bar {
    height: 100%;
    background-color: var(--main-primary);
    width: 0%;
}

.progress-bar-fill {
    height: 100%;
    background-color: #ff7e5f;
}
