:root {
    --background-primary: #121212;
    --background-secondary: #1e1e1e;
    --main-primary: #ff7e5f;
    --main-secondary: #feb47b;
    --accent-primary: #6a1b9a;
    --top-bar-height: 80px;
    --main-red: rgb(196, 100, 100);
}

body {
    background-color: var(--background-primary);
}

.primary-button {
    transition: scale 0.25s ease-out;
}

.primary-button:hover {
    scale: 1.1;
}