:root {
    --background-primary: #121212;
    --background-secondary: #1e1e1e;
    --purple-primary: #ff7e5f;
    --purple-secondary: #feb47b;
}

body {
    background-color: var(--background-primary);
}