:root {
    --background-primary: #121212;
    --background-secondary: #1e1e1e;
    --purple-primary: #bb86fc;
    --purple-secondary: #3700b3;
}

body {
    background-color: var(--background-primary);
}